#header-bar{
    background-color: black;
    color:white;
    text-align: center;

}

#search-column{
    background-color:rgb(240, 240, 240);

}

#city-search{
    margin-top:30px;

}
#search-button{
    margin-top:30px;
    margin-left:-10px;

}

#search-table{
    background-color:white;
}

#current-weather-card{
    border: lightgray solid 1px;
    margin: 15px;
    padding: 20px;

}

.row{
    /* border: black solid 1px; */
}

.forecast-cards{
    background-color: blue;
    color:white;
    margin: 10px;
    border-radius: 3px;
}